.square {
    width: 125px;
    height: 125px;
    background-color: #282c34;
    border: solid 2px #a3d00c;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b9b9b9;
    font-size: xx-large;
    font-weight: 600;
    box-sizing: border-box;
}